<h1>Log in to Your Anime List!</h1>

<% flash_types.select{ |kind| flash.has?(kind) }.each do |kind| %>
<div class="flash <%= kind %>">
  <h3><p style="border:3px; border-style:solid; border-color:#FF0000; padding: 1em; color:#FF0000";><%= flash[kind] %></p></h3>
</div>
<% end %>

<form action="/login" method="POST">
  <label>Username: </label>
  <input type="text" name="username"><br>
  <label>Password: </label>
  <input type="password" name="password"><br>
  <input type="submit" value="submit">
</form>

 <p style="border:3px; border-style:solid; border-color:#BDA0CB; padding: 1em;">Or <a href="/signup">Sign Up</a> if you don't already have an account.</p> 