<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body style="background-color:lavender;">

<h3><p style="border:3px; border-style:solid; border-color:#8EEBEC; padding: 1em;">Where The Anime Creation Happens!</p></h3>


<img src="https://media1.tenor.com/images/652b572ed1eda1c1a8feb893f68e4746/tenor.gif?itemid=3691125" alt="sugar_spice_everything_nice_gif">
  
  <form action='/animes' method="post">
    Anime:
    <input type="text" name="name"><br>

 <label for="status">Watch Status:</label>

<select name="status" id="status">
  <option value="Completed">Completed</option>
  <option value="On-Hold">On-Hold</option>
  <option value="Dropped">Dropped</option>
  <option value="Currently Watching">Currently Watching</option>

</select><br>

 <label for="rating">Rating:</label>

<select name="rating" id="rating">
  <option value="10">10 (Masterpiece)</option>
  <option value="9">9 (Great)</option>
  <option value="8">8 (Very Good)</option>
  <option value="7">7 (Good)</option>
  <option value="6">6 (Fine)</option>
  <option value="5">5 (Average)</option>
  <option value="4">4 (Bad)</option>
  <option value="3">3 (Very Bad)</option>
  <option value="2">2 (Horrible)</option>
  <option value="1">1 (Appalling)</option>

</select><br>

    Create Your New Anime:

    <input type="submit" name="submit" id="submit">

  </form>
    <a href="/animes">Previous</a>
  </body>
  </html>