<h2><p style="font-family:'Courier New'">Welcome to Your Anime List!</p></h2>

<% flash_types.select{ |kind| flash.has?(kind) }.each do |kind| %>
<div class="flash <%= kind %>">
  <h3><p style="border:3px; border-style:solid; border-color:#FF0000; padding: 1em; color:#FF0000";><%= flash[kind] %></p></h3>
</div>
<% end %>

<h5><p style="border:3px; border-style:solid; border-color:#BDA0CB; padding: 1em;">This is where you will be able to keep track of every animes you have watched, giving them a watch status and a rating!</p></h5>

<img src="http://www.thegeeklygrind.com/wp-content/uploads/2017/12/anime_world.png" alt="anime" width="950" height="600">

 <p style="border:3px; border-style:solid; border-color:#BDA0CB; padding: 1em;"> Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.</p>

