<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body style="background-color:lavender;">

<h2><p style="font-family:'Courier New'">Welcome to Your Anime List!</p></h2>

<h5><p style="border:3px; border-style:solid; border-color:#8EEBEC; padding: 1em;">This is where you will be able to keep track of every animes you have watched, giving them a watch status and a rating!</p></h5>
<img src="https://comic-watch.com/wp-content/uploads/2019/02/anime_mix75.jpg" alt="anime" width="950" height="600">

 <p style="border:3px; border-style:solid; border-color:#8EEBEC; padding: 1em;"> Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.</p>

</body>
</html>