<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
  <meta charset="utf-8" />
  <title>YourAnimeList</title>
  <link rel="stylesheet" href="/stylesheets/main.css" />

<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body style="background-color:lavender;">

  </head>
  <body>

    <div class="wrapper">
       <%= yield %>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  </body>
</html>